body {
  font-family: "Roboto", sans-serif;
  background: #000030;
}

// buttons

.btn {
  background: none;
  border: none;
  @include hover;
}

// contiainers

.container-main {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 50px;
}

// other

.input {
  border: none;
  @include hover;
}
